services:
  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9090:9090"
    volumes:
      - ./data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address :9090

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    restart: always
    container_name: mssql
    ports:
      - "1433:1433"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          '/opt/mssql-tools/bin/sqlcmd -S localhost -U SA -P "$SA_PASSWORD" -Q "SELECT 1" || exit 1',
        ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "Str0ng!Passw0rd"
    volumes:
      - mssql_data:/var/opt/mssql

volumes:
  mssql_data:
