services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    command: >
      redis-server
      --appendonly yes
      --requirepass StrongPassword123
    volumes:
      - redis-data:/data
    restart: unless-stopped

  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9090:9090"
    volumes:
      - ./data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address :9090

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    restart: always
    container_name: mssql
    ports:
      - "1433:1433"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          '/opt/mssql-tools/bin/sqlcmd -S localhost -U SA -P "$${SA_PASSWORD}" -Q "SELECT 1" || exit 1',
        ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "Str0ng!Passw0rd"
    volumes:
      - mssql_data:/var/opt/mssql

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: backend
    depends_on:
      - db
      - minio
      - redis
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__AppConnection: "Server=db,1433;Database=store;User Id=SA;Password=Str0ng!Passw0rd;TrustServerCertificate=True;"
      minioConnection__MinioEndpoint: "minio:9000"
      minioConnection__MinioAccessKey: "minioadmin"
      minioConnection__MinioSecretKey: "minioadmin"
      minioConnection__MinioBucket: "store"
      minioConnection__UseSSL: "false"
      Redis__ConnectionString: "redis:6379,password=StrongPassword123,abortConnect=false"
      Redis__Database: "0"
      Redis__KeyPrefix: "file-storage"
    ports:
      - "8080:8080"
    restart: unless-stopped

volumes:
  redis-data:
  mssql_data:
